[submodule "glyph"]
	path = glyph
	url = git://github.com/spinda/glyph
[submodule "reactive-banana"]
	path = reactive-banana
	url = git://github.com/spinda/reactive-banana
	branch = mouse-event-helpers
